{{'{{Speciesbox'}}
| name= {{Bird_Original_Name_Telugu}}
{%- if Conservation_status_code!= 'NaN' %}
| status = {{Conservation_status_code}}
{%- endif %}
| status_system = IUCN3.1
{%- if Page_Id!= 'NaN' %}
| status_ref=<ref name="iucn status 18 November 2021">{{'{{'}}cite iucn |author=BirdLife International |date=2016 |title=''{{Bird_Original_Name}}'' |volume=2016 |page=e.{{Page_Id}} |doi=10.2305/IUCN.UK.2016-3.RLTS.{{Page_Id}}.en |access-date=18 November 2021{{'}}'}}</ref>
{%- endif %}
{%- if image!= 'NaN' %}
| image = {{image}}
{%- endif %}
| regnum= జంతువులు
| phylum= కార్డేట్
| classis=[[పక్షులు|ఏవ్స్]] 
{%- if Order_Telugu!= 'NaN' %}
| ordo={{Order_Telugu}}
{%- endif %}
{%- if Family_Telugu!= 'NaN' %}
| familia={{Family_Telugu}}
{%- endif %}
{%- if Genus_Telugu!= 'NaN' %}
| genus =''{{Genus_Telugu}}''
{%- endif %}
{%- if Species_Telugu!= 'NaN' %}
| species = '''''{{Species_Telugu}}'''''
{%- endif %}
{%- if Scientist_Telugu!= 'NaN' and founded != 'NaN' %}
| authority = ([[{{Scientist_Telugu}}]], {{founded}})
{%- endif %}
{%- if Synonyms_Telugu!= 'NaN' %}
| synonyms = {{Synonyms_Telugu}}
{%- endif %}
{{'}}'}}
